.form-group {
  .file {
    display: block;
  }
  &.has-error {
    .form-control {
      border-color:#dc3545;
    }
    label, .help-block {
      color: #dc3545;
    }
  }
}

.avatar-med {
  width: 32px;
  height: 32px;
  display: inline-block;
  border-radius: 5px;
}

.avatar-large {
  width: 64px;
  height: 64px;
  display: inline-block;
  border-radius: 5px;
}