<h1>Hi <%= @setting.business_name %>,</h1>
<h3>New Contact:</h3>
<p>
  <strong>Name:</strong> <%= @data[:name] %> <br>
  <strong>Email:</strong> <%= @data[:email] %> <br>
  
  <strong>Message:</strong> <%= @data[:message] %> <br>
</p>