<!-- Blog Section -->
<section id="blog" class="section">
  <!-- Container Starts -->
  <div class="container">
    <div class="section-header">
      <h2 class="section-title">Recent Blog</h2>
      <hr class="lines">
    </div>
    <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 blog-item">
        <!-- Blog Item Starts -->
        <div class="blog-item-wrapper">
          <div class="blog-item-img">
            <a href="single-post.html">
              <%= image_tag 'Rosemarysmall.jpg', class: 'img-responsive', alt: "Mobile Physiotherapist" %>
            </a>
          </div>
          <div class="blog-item-text">
            <div class="meta-tags">
              <span class="date"><i class="lnr  lnr-clock"></i>2 Days Ago</span>
              <span class="comments"><a href="#"><i class="lnr lnr-bubble"></i> 24 Comments</a></span>
            </div>
            <h3>
              <a href="single-post.html">Benefits of mobile physiotherapy.</a>
            </h3>
            <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua...
            </p>
            <a href="single-post.html" class="btn-rm">Read More <i class="lnr lnr-arrow-right"></i></a>
          </div>
        </div>
        <!-- Blog Item Wrapper Ends-->
      </div>

      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 blog-item">
        <!-- Blog Item Starts -->
        <div class="blog-item-wrapper">
          <div class="blog-item-img">
            <a href="single-post.html">
            <%= image_tag 'melissasmall.jpg', class: 'img-responsive', alt: "Mobile Physiotherapist" %>            </a>
          </div>
          <div class="blog-item-text">
            <div class="meta-tags">
              <span class="date"><i class="lnr  lnr-clock"></i>2 Days Ago</span>
              <span class="comments"><a href="#"><i class="lnr lnr-bubble"></i> 24 Comments</a></span>
            </div>
            <h3>
              <a href="single-post.html">What areas do we service?</a>
            </h3>
            <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua...
            </p>
            <a href="single-post.html" class="btn-rm">Read More <i class="lnr lnr-arrow-right"></i></a>
          </div>
        </div>
        <!-- Blog Item Wrapper Ends-->
      </div>

      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 blog-item">
        <!-- Blog Item Starts -->
        <div class="blog-item-wrapper">
          <div class="blog-item-img">
            <a href="single-post.html">
              <%= image_tag 'duncansmall.jpg', class: 'img-responsive', alt: "Mobile Physiotherapist" %>            </a>
          </div>
          <div class="blog-item-text">
            <div class="meta-tags">
              <span class="date"><i class="lnr  lnr-clock"></i>2 Days Ago</span>
              <span class="comments"><a href="#"><i class="lnr lnr-bubble"></i> 24 Comments</a></span>
            </div>
            <h3>
              <a href="single-post.html">Best exercises for knee pain.</a>
            </h3>
            <p>
             Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua...
            </p>
            <a href="single-post.html" class="btn-rm">Read More <i class="lnr lnr-arrow-right"></i></a>
          </div>
        </div>
        <!-- Blog Item Wrapper Ends-->
      </div>
    </div>
  </div>
</section>
<!-- blog Section End -->
