<!-- Modal -->
<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <strong>Emily Doe</strong>
        <p>Initial consultation: £90.00</p>
        <p>Subsequent consultation: £82.00</p>
        <br>
        <strong>Kate Kowalsy</strong>
        <p>Initial consultation: £87.00</p>
        <p>Subsequent consultation: £85.00</p>
        <br>
        <strong>John Williams</strong>
        <p>Initial consultation: £93.00</p>
        <p>Subsequent consultation: £80.00</p>
        <br>
        <strong>James Green</strong>
        <p>Initial consultation: £95.00</p>
        <p>Subsequent consultation: £75.00</p>
        <br>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>


<!-- Start Pricing Table Section -->
<section class="section bg-white-liac">
  <div class="container">
    <div class="section-header">
      <h2 class="section-title">Pricing</h2>
      <hr class="lines">
      <p class="section-subtitle">Each practitioner can set their own pricing.</p>
    </div>
    <div class="text text-center">
      <button type="button" class="btn btn-common wow fadeInUp" data-toggle="modal" data-target="#exampleModalLong">
        Launch demo modal
      </button>
    </div>
  </div>
</section>
