<!-- Start Pricing Table Section -->
<section class="section bg-white-liac">
  <div class="container">
    <div class="section-header">
      <h2 class="section-title">Pricing</h2>
      <hr class="lines">
      <p class="section-subtitle">Each practitioner can set their own pricing.</p>
    </div>
    <div class="text text-center">
      <a href="#" class="btn btn-common wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="400ms">See Full Price List</a>
    </div>
  </div>
</section>
<!-- End Pricing Table Section -->
