<!-- Team section Start -->
<section id="team" class="section">
  <div class="container">
    <div class="section-header">
      <h2 class="section-title">Our Team</h2>
      <hr class="lines">
    </div>
    <div class="row">
      <div class="col-lg-3 col-md-6 col-xs-12">
        <div class="single-team">
          <%= image_tag 'profile1.jpg', class: 'img-responsive', alt: "Home Physiotherapist" %>
          <div class="team-details">
            <div class="team-inner">
              <h4 class="team-title">Emily Doe</h4>
              <p>Physiotherapist <br>Manchester.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-xs-12">
        <div class="single-team">
          <%= image_tag 'profile2.jpg', class: 'img-responsive', alt: "Home Physiotherapist" %>
          <div class="team-details">
            <div class="team-inner">
              <h4 class="team-title">Kate Kowalsy</h4>
              <p>Physiotherapist <br>Liverpool.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-xs-12">
        <div class="single-team">
          <%= image_tag 'profile3.jpg', class: 'img-responsive', alt: "Home Physiotherapist" %>
          <div class="team-details">
            <div class="team-inner">
              <h4 class="team-title">John Williams</h4>
              <p>Physiotherapist <br>Chelsea.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-xs-12">
        <div class="single-team">
          <%= image_tag 'profile4.jpg', class: 'img-responsive', alt: "Home Physiotherapist" %>
          <div class="team-details">
            <div class="team-inner">
              <h4 class="team-title">James Green</h4>
              <p>Physiotherapist <br>London.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Team section End -->
