<!-- Team section Start -->
<section id="team" class="section">
  <div class="container">
    <div class="section-header">
      <h2 class="section-title">Our Team</h2>
      <hr class="lines">
    </div>
    <div class="row">
      <div class="col-md-12 justify-content-md-center">
        <div class="practitioners-slider owl-carousel owl-theme">
          <% Practitioner.find_each do |prac| %>
            <div class="single-team">
              <%= image_tag prac.avatar.url, class: 'img-responsive', alt: "Home Physiotherapist" %>
              <div class="team-details">
                <div class="team-inner">
                  <a href="<%= profiles_one_path %>" class="team-title">Emily Doe</a>
                  <p><%= prac.profession %> <br><%= prac.registration %>.</p>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Team section End -->
