<h1>Billable Items</h1>

<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>Practitioner</th>
      <th>Name</th>
      <th>Item number</th>
      <th>Price</th>
    </tr>
  </thead>

  <tbody>
      <tr>
        <td>Emily Doe</td>
        <td>Initial Consultation</td>
        <td>500</td>
        <td>$87.60</td>
      </tr>
      <tr>
        <td>Emily Doe</td>
        <td>Subsequent Consultation</td>
        <td>505</td>
        <td>$87.60</td>
      </tr>
      <tr>
        <td>Emily Doe</td>
        <td>Extended Consultation</td>
        <td>506</td>
        <td>$87.60</td>
      </tr>
      <tr>
        <td>Kate Kowalsy</td>
        <td>Initial Consultation</td>
        <td>500</td>
        <td>$87.60</td>
      </tr>
      <tr>
        <td>Kate Kowalsy</td>
        <td>Subsequent Consultation</td>
        <td>505</td>
        <td>$87.60</td>
      </tr>
      <tr>
        <td>Kate Kowalsy</td>
        <td>Extended Consultation</td>
        <td>506</td>
        <td>$87.60</td>
      </tr>
      <tr>
        <td>John Williams</td>
        <td>Initial Consultation</td>
        <td>500</td>
        <td>$87.60</td>
      </tr>
      <tr>
        <td>John Williams</td>
        <td>Subsequent Consultation</td>
        <td>505</td>
        <td>$87.60</td>
      </tr>
      <tr>
        <td>John Williams</td>
        <td>Extended Consultation</td>
        <td>506</td>
        <td>$87.60</td>
      </tr>
      <tr>
        <td>James Green</td>
        <td>Initial Consultation</td>
        <td>500</td>
        <td>$87.60</td>
      </tr>
      <tr>
        <td>James Green</td>
        <td>Subsequent Consultation</td>
        <td>505</td>
        <td>$87.60</td>
      </tr>
      <tr>
        <td>James Green</td>
        <td>Extended Consultation</td>
        <td>506</td>
        <td>$87.60</td>
      </tr>
  </tbody>
</table>
