<div class="jumbotron subpage-hero">
  <h1 class="subpage-hero-heading" >BLOG</h1> <br>
  <p class="subpage-hero-heading"> HOME -> BLOG</p>
</div>
<h1>[Blog Heading]</h1>
<hr>
<p>[Blog image]</p>
<p>[Blog paragraphs]</p>
