.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}

.bg-white-liac {
  background: #f0f0f0;
  fill: #f0f0f0;
}

.icon-works {
  width: 50px;
  margin-top: 20px;
}

.icon-black-text {
  color: black;
  margin-top: 20px;
}

.larger-size {
  font-size: 25px !important;
  margin-bottom: 30px !important;
}

.yield-padding {
  margin-top: 80px;
  margin-bottom: 100px;
}


#hero-area .form-group {
  width: 670px;
  margin: 0 auto;
}
#hero-area .form-group input {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
#hero-area .form-group .form-control {
  width: 550px;
  margin: 0px auto;
  float: left;
  border: none;
  margin-bottom: 10px;
  padding: 17px;
  border-color: #fff;
  color: black;
  background: rgba(255,255,255,.9);
  font-size: 14px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  text-align: left!important;
}
#hero-area .contents .btn {
  margin: 0;
  float: left;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  text-transform: uppercase;
  float: left;
  width: 110px;
  text-align: left;
  font-size: 14px;
  padding: 16px 24px;
  border-bottom-right-radius: 3px;
  border-top-right-radius: 3px;
}
#hero-area {
  &:before {
    content: " ";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(10,20,10,.45);
  }
  @media screen and (max-width: 991px) {
    .form-group {
      width: 80%;
      box-sizing: border-box;
      float: left;
      .form-control {
        max-width: 100%;
      }
    }
    .contents {
      h1 {
        font-size: 42px;
      }
      .btn {
        box-sizing: border-box;
        width: 20%;
        padding: 16px 0px;
        text-align: center;
      }
    }
  }
  @media screen and (max-width: 767px){
    .contents {
      h1 {
        font-size: 33px;
        line-height: 45px;
      }
    }
  }
}