<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
  <div class="container">
    <a href="<%= root_path %>" class="navbar-brand">
      <img class="img-fulid" src="<%= asset_path('logo.png') %>" alt=""></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
      </ul>
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="<%= app_dashboard_path %>"><%= @setting.business_phone %></a>
        </li>
        <li class="nav-item">
          <a class="nav-link"  href="https://owner.health/bookings">Book Online</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://owner.health/app/dashboard">Practitioner Login</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
